@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    top: 0!important;
    font-family: 'Montserrat', sans-serif!important;
    /* max-width: 1440px!important;
min-width: 1200px!important;
width: 100%!important;
margin: 0 auto!important */
}

#nav .navbar {
    background-color: #F2F2FF!important;
    /* box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25); */
}

#nav .navbar-brand img {
    /* margin-left: 50px; */
    width: 100%;
    max-width: 90px!important;
    height: auto;
    position: absolute;
    top: 0
}

#nav .nav a {
    color: #000;
}

#nav .nav-dg {
    width: 100%;
    max-width: 900px;
    margin-left: 300px;
}

#nav .nav-dg li {
    padding-left: 15px;
}

#nav .nav-dg li a {
    color: #2C2449;
    font-weight: 700;
    font-size: 14px;
}

#nav .nav-dg-right {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
}

#nav .nav-dg-right li {
    width: 100%;
    max-width: 50px;
}

#nav .desktop {
    display: block!important;
}

#nav .mobile {
    display: none!important;
}

#nav .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    /* color: rgba(0, 0, 0, .9);
    border-bottom: 5px solid #000; */
    color: #EF6E6E;
    ;
}

@media (max-width:1200px) {
    #nav .nav-dg {
        width: 100%;
        max-width: 1280px;
        margin: auto;
    }
    #nav .nav-dg li:first-child {
        margin-top: 50px;
    }
    #nav .nav-dg li a {
        font-size: 14px;
    }
    #nav .nav-dg-right li:first-child {
        margin-top: 0;
    }
    #nav .nav-dg-right {
        margin-left: -60px;
        margin-top: 20px;
    }
    #nav .desktop {
        display: none!important;
    }
    #nav .mobile {
        display: block!important;
        margin-top: -16px;
        padding-bottom: 10px;
    }
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    padding-top: 150px;
    /* padding-bottom: 150px; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

#home h1 {
    color: #2C2449;
    font-size: 64px;
}

#home h5 {
    color: #EF6E6E;
}

#home p {
    color: #2C2449;
    max-width: 500px;
}

#home img.people {
    width: 100%;
    max-width: 520px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    right: 20%;
    /* transition: .3s linear; */
    animation: fly .8s ease-in-out infinite alternate;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1)); */
}

@keyframes fly {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(1px);
    }
}

#home img.astro {
    width: 100%;
    max-width: 526px;
    height: auto;
    display: block;
    margin-bottom: -800px;
    position: relative;
    bottom: 60%;
    left: 25%;
    z-index: 1;
}

#home img.lamp {
    width: 100%;
    max-width: 80px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    bottom: 15%;
    left: 40%;
    z-index: 1;
    animation: lamp .8s ease-in-out infinite alternate;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1)); */
}

@media screen and (width:1280px) {
    #home img.people {
        right: 15%;
    }
    #home img.astro {
        max-width: 450px;
        bottom: 80%;
        left: 32%;
    }
    #home img.lamp {
        bottom: 10%;
        left: 45%;
        /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1)); */
    }
}

@keyframes lamp {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateY(10px);
    }
}

#home img.bubble {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    bottom: 50%;
    right: 5%;
    z-index: -1;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1)); */
}

#home .button {
    background-color: #42419A;
    width: 100%;
    max-width: 195px;
    color: #fff;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width:1200px) {
    #home h1,
    #home h5,
    #home p {
        text-align: center;
    }
    #home p {
        color: #2C2449;
        max-width: 500px;
        width: 100%;
        margin: 20px auto;
    }
    #home h1 {
        font-size: 28px;
    }
    #home img.people {
        right: 0;
    }
    #home img.astro {
        width: 100%;
        max-width: 550px;
        height: auto;
        display: block;
        margin: 0 auto;
        left: 0;
        bottom: 15%
    }
    #home img.lamp {
        display: block;
        max-width: 50px;
        margin: 0 auto;
        left: 20%;
        bottom: 55%;
    }
    #home img.bubble {
        display: block;
        max-width: 650px;
        margin: 0 auto;
        left: 0;
        bottom: 70%;
    }
    #home .button {
        margin: auto;
    }
}

#about {
    background: url("../images/bg-about.png");
    /*min-height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center; */
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    height: 900px;
    padding: 50px 0;
}

#about h5:first-child {
    color: #EF6E6E;
    text-align: left;
    margin-top: 150px;
}

#about h5 {
    color: #EF6E6E;
    text-align: left;
}

#about h3 {
    color: #fff;
    text-align: left;
}

#about p {
    color: #A8A3BC;
    text-align: left;
    font-size: 14px;
}

#about img.about {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 25%
}


/* #about img.menara {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    top: 8%;
    z-index: 1;
}

#about img.awan-1 {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    bottom: 30%;
    left: 10%;
    animation: awan .8s ease-in-out infinite alternate;
    z-index: 1;
}

#about img.awan-2 {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    bottom: 50%;
    animation: awan .8s ease-in-out infinite alternate;
}

#about img.awan-3 {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    bottom: 50%;
    left: 20%;
    animation: awan .8s ease-in-out infinite alternate;
}

@keyframes awan {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateY(10px);
    }
}

@media screen and (min-width:1601px) {
    #about img.menara {
        top: 9%
    }
}

@media screen and (min-width:1300px) and (max-width:1600px) {
    #about img.menara {
        top: 9%
    }
    #about {
        background: url("../images/bg-about.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px) {
    #about h5:first-child {
        color: #EF6E6E;
        text-align: left;
        margin-top: 100px;
    }
} */

@media screen and (max-width:1023px) {
    /* #about {
        background-color: #2C2449;
        padding-bottom: 50px;
        height: auto;
    } */
    #about {
        margin-top: -500px;
    }
    /* #about img.menara {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        transform: rotate(5deg);
        position: relative;
        left: 0;
        top: 20%
    } */
    #about h5:first-child {
        color: #EF6E6E;
        text-align: left;
        margin-top: 50px;
    }
    /* #about img.awan-1 {
        max-width: 100px;
    }
    #about img.awan-3 {
        max-width: 50px;
    } */
    #about img.about {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 20%
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    #about {
        margin-top: -500px;
    }
}

#service {
    height: auto;
    padding: 100px 0
}

#service h5 {
    color: #EF6E6E;
    text-align: left;
}

#service h3 {
    color: #2C2449;
    text-align: left;
}

#service p {
    color: #2C2449;
    text-align: left;
    font-size: 14px;
}

#service img.bg-service {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

#service img.service-1 {
    width: 100%;
    max-width: 70px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    animation: service .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 40%;
    right: 30%;
}

#service img.service-2 {
    width: 100%;
    max-width: 37px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    animation: service .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 55%;
    left: 30%;
}

@keyframes service {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(1px);
    }
}

@media screen and (max-width:767px) {
    #service {
        height: auto;
        padding: 0
    }
}

#layanan {
    margin-top: -350px;
}

#layanan h5 {
    color: #2C2449;
    text-align: left;
    font-size: 14px;
    width: 370px;
}

#layanan p {
    color: #2C2449;
    text-align: left;
    font-size: 14px;
}

#layanan img.layanan {
    width: 100%;
    max-width: 145px;
    height: auto;
    float: left;
    display: block;
    margin: 0 auto;
    padding-right: 25px;
}

#layanan img.layanan-modal {
    width: 120px;
    height: 120px;
    float: left;
    display: block;
    margin: 0 15px 20px auto;
    background-color: #CBCAF3;
    object-fit: contain;
    border-radius: 100%;
    padding: 10px;
}

#layanan .clear {
    clear: both;
    border-bottom: 1px dotted #aaaaaa;
    margin-bottom: 20px;
    margin-top: 20px;
}

#layanan .modal-header {
    border-bottom: none;
    display: none;
}

#layanan .modal-body {
    padding-top: 40px;
    background: url("../images/bg-layanan.png");
    background-position: center;
    background-size: cover;
}

#layanan .modal-footer {
    border-top: none;
    justify-content: center;
}

#layanan .btn {
    background-color: #EF6E6E;
    color: #fff;
    border-radius: 10px;
    width: 150px;
    border: none;
}

@media screen and (max-width:1024px) {
    #layanan {
        margin-top: -250px;
    }
    #layanan img.layanan {
        width: 100%;
        max-width: 145px;
        height: auto;
        float: left;
        display: block;
        margin: 0 auto;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    #layanan h5 {
        width: 100%;
    }
}

#porto {
    background: url("../images/bg-porto.png");
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 100px 0;
}

#porto .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    border-bottom: 5px solid #EF6E6E;
    background: none!important;
    border-radius: 0;
}

#porto .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000;
    text-decoration: none;
    transition: none
}

#porto img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

#porto h3 {
    color: #2C2449;
    text-align: center;
}

#porto h4 {
    color: #2C2449;
    max-width: 450px;
    width: 100%;
    margin: 10px auto;
}

#porto h5 {
    color: #EF6E6E;
    text-align: center;
}

#porto span {
    color: #2C2449;
    text-align: center;
    display: block;
    max-width: 550px;
    margin: 0 auto;
    font-size: 14px;
}

#porto p {
    color: #2C2449;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: left;
}

#porto .detail {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    color: #42419A;
    border: 1px solid #42419A;
    padding: 10px 0;
    border-radius: 20px;
}

#porto .pagination {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#porto .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#porto .pagination a.active {
    background-color: #42419A;
    color: white;
    border-radius: 5px;
}

#porto .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


/* #porto .splide {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#porto .splide__pagination__page {
    background: #2C2449;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#porto .splide__pagination__page.is-active {
    background: #2C2449;
    transform: scale(1.4)
}

#porto .splide__arrow--prev {
    left: -1em
}

#porto .splide__arrow--next {
    right: -1em
} */


/* @media screen and (min-width:1300px) and (max-width:1600px) {
    #porto {
        background: url("../images/bg-porto.png");
        height: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 0;
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
    }
} */


/* @media screen and (max-width:1024px) {
    #porto .splide__arrow--prev {
        display: none;
    }
    #porto .splide__arrow--next {
        display: none;
    }
} */

#client {
    padding: 100px 0;
}

#client .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#client img {
    max-width: 130px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    object-fit: contain;
    padding: 10px;
}

#client .splide__pagination__page {
    background: #2C2449;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#client .splide__arrow--prev {
    display: none;
}

#client .splide__arrow--next {
    display: none;
}

#client .splide__pagination {
    bottom: -1em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}

#client h5 {
    color: #EF6E6E;
    text-align: center;
}

#client h3 {
    color: #2C2449;
    text-align: center;
}

#client span {
    color: #2C2449;
    text-align: center;
    display: block;
    max-width: 550px;
    margin: 20px auto;
    font-size: 14px;
}

#footer {
    padding: 50px 0;
    background: #EEEDFF;
    position: relative;
    left: 0;
}

#footer p {
    font-size: 16px;
    line-height: 1.8;
    width: 350px;
}

#footer h6 {
    color: #42419A;
    font-weight: 700;
    text-align: left;
}

#footer a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

#footer a:hover {
    color: #545454;
    text-decoration: none;
}

#footer .menu {
    line-height: 1.8;
    text-align: left;
    /* margin-left: 85px; */
}


/* #footer ul {
    position: relative;
    left: -5%;
} */

#footer .services {
    position: relative;
    left: -30px;
}

#footer .dgmind {
    border-left: 1px solid #B4B4B4;
    padding-left: 15px;
    font-size: 14px;
}

#footer img {
    margin: 0 5px;
}

#footer .sosmed {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:1024px) {
    #footer {
        left: 0;
    }
    #footer p {
        padding-left: 15px;
    }
    #footer .menu {
        padding-left: 15px;
        margin-left: 0;
    }
    /* #footer ul {
        left: -4%;
    } */
    #footer h6 {
        padding-left: 15px;
        text-align: left;
    }
    #footer img {
        margin: 0 5px 0 15px;
    }
    #footer .services {
        position: relative;
        left: 0;
    }
    #footer .dgmind {
        border: none;
        padding-left: 10px;
    }
    #footer p {
        font-size: 16px;
        line-height: 1.8;
        max-width: 350px;
        width: 100%;
    }
}

#copyright {
    background-color: #42419A;
    padding: 20px 0;
}

#copyright h6 {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

#visimisi {
    background-color: #42419A;
    padding: 70px 0;
    height: 800px;
}

#visimisi h5 {
    color: #EF6E6E;
}

#visimisi h1 {
    color: #fff
}

#visimisi p {
    color: #fff;
}

#visimisi img.meta {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -200px
}

#visimisi .bg {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    height: 280px;
    margin: 20px 0;
    position: relative;
    top: -220px;
}

#visimisi h4 {
    color: #2C2449;
    text-align: center;
}

#visimisi span {
    color: #2C2449;
    text-align: center;
    display: block;
}

#visimisi img.sejarah {
    max-width: 100px;
    width: 100%;
    height: 90px;
    margin: 20px auto;
    display: block;
}

@media screen and (max-width:1023px) {
    #visimisi {
        height: auto;
    }
    #visimisi img.meta {
        top: 0
    }
    #visimisi .bg {
        top: 0
    }
}

#testi {
    padding: 70px 0;
}

#testi h5 {
    color: #EF6E6E;
    text-align: center;
    margin: 10px auto;
}

#testi h3 {
    color: #42419A;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    font-weight: 700;
}

#testi p {
    color: #545454;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

#testi img.foto {
    max-width: 250px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#testi span {
    display: block;
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

#testi .splide__arrow--prev {
    left: -1em;
    top: 7em
}

#testi .splide__arrow--next {
    right: -1em;
    top: 7em
}

#testi .splide__pagination__page {
    background: #2C2449;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#testi .splide__pagination__page.is-active {
    background: #2C2449;
    transform: scale(1.4)
}

#testi .splide__pagination {
    bottom: -2em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}

@media screen and (max-width:1023px) {
    #testi .splide__arrow--prev {
        display: none;
    }
    #testi .splide__arrow--next {
        display: none;
    }
}

#kontak {
    background-color: #42419A;
    padding: 70px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 30px auto;
    border-radius: 18px;
    padding: 30px;
}

#kontak .form-control {
    display: block;
    width: 100%;
    padding: 0.65rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 20px;
}

#kontak h5 {
    text-align: center;
    color: #fff;
}

#kontak .btn {
    background-color: #EF6E6E;
    color: #fff;
    max-width: 150px;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    border-radius: 20px;
}

#kontak img {
    width: 100%;
    max-width: 20px;
    height: auto;
    margin-right: 5px;
}

@media screen and (max-width:768px) {
    #kontak {
        max-width: 400px;
    }
}