@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    top: 0!important;
    font-family: 'Montserrat', sans-serif!important;
    /* max-width: 1440px!important;
min-width: 1200px!important;
width: 100%!important;
margin: 0 auto!important */
}

#nav .navbar {
    background-color: #F2F2FF!important;
    /* box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25); */
}

#nav .navbar-brand img {
    /* margin-left: 50px; */
    width: 100%;
    max-width: 90px!important;
    height: auto;
    position: absolute;
    top: 0
}

#nav .nav a {
    color: #000;
}

#nav .nav-dg {
    width: 100%;
    max-width: 900px;
    margin-left: 300px;
}

#nav .nav-dg li {
    padding-left: 15px;
}

#nav .nav-dg li a {
    color: #2C2449;
    font-weight: 700;
    font-size: 14px;
}

#nav .nav-dg-right {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
}

#nav .nav-dg-right li {
    width: 100%;
    max-width: 50px;
}

#nav .desktop {
    display: block!important;
}

#nav .mobile {
    display: none!important;
}

#nav .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, .9);
    border-bottom: 5px solid #000;
}

@media (max-width:1200px) {
    #nav .nav-dg {
        width: 100%;
        max-width: 1280px;
        margin: auto;
    }
    #nav .nav-dg li:first-child {
        margin-top: 50px;
    }
    #nav .nav-dg li a {
        font-size: 14px;
    }
    #nav .nav-dg-right li:first-child {
        margin-top: 0;
    }
    #nav .nav-dg-right {
        margin-left: -60px;
        margin-top: 20px;
    }
    #nav .desktop {
        display: none!important;
    }
    #nav .mobile {
        display: block!important;
        margin-top: -16px;
        padding-bottom: 10px;
    }
}

#home {
    background: url("../images/bg-home1.png");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 150px; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

#home h1 {
    color: #42419A;
    font-size: 64px;
    font-weight: 600;
}

#home h5 {
    color: #EF6E6E;
    margin-top: -50px;
}

#home p {
    color: #2C2449;
}

#home .button {
    background-color: #42419A;
    width: 100%;
    max-width: 195px;
    color: #fff;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    #home h1,
    h5,
    p {
        text-align: center;
    }
    #home h1 {
        font-size: 28px;
    }
    #home .button {
        margin: auto;
    }
}

#about {
    background: url("../images/bg-about1.png");
    height: 705px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -220px; */
}

#about h5 {
    color: #EF6E6E;
    text-align: left;
    margin-top: 150px;
}

#about h3 {
    color: #fff;
    text-align: left;
}

#about p {
    color: #A8A3BC;
    text-align: left;
}

#about img.about1 {
    width: 100%;
    max-width: 590px;
    margin: auto;
    display: block;
    height: auto;
    position: relative;
    z-index: 1;
}

#about img.bubble1 {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
    height: auto;
    animation: bubble-about .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 50%;
    left: 5%;
}

#about img.bubble2 {
    width: 100%;
    max-width: 160px;
    margin: auto;
    display: block;
    height: auto;
    animation: bubble-about .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 40%;
    right: 40%;
}

@keyframes bubble-about {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateY(10px);
    }
}

@media screen and (max-width:1023px) {
    #about {
        height: auto;
    }
    #about h5 {
        color: #EF6E6E;
        text-align: left;
        margin-top: -250px;
    }
    #about p {
        color: #fff;
        border-radius: 5px;
    }
}

#service {
    height: auto;
    padding: 100px 0
}

#service h5 {
    color: #EF6E6E;
    text-align: left;
}

#service h3 {
    color: #2C2449;
    text-align: left;
}

#service p {
    color: #2C2449;
    text-align: left;
}

#service img.bg-service {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    position: relative;
}

#service img.service-1 {
    width: 100%;
    max-width: 240px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    animation: service .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 60%;
    left: 30%;
    z-index: -1;
}

#service img.service-2 {
    width: 100%;
    max-width: 132px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    animation: service .8s ease-in-out infinite alternate;
    position: relative;
    bottom: 95%;
    left: 0;
    z-index: -1;
}

@keyframes service {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(1px);
    }
}

@media screen and (max-width:1023px) {
    #service img.service-1 {
        bottom: 50%;
        left: 10%;
    }
    #service img.service-2 {
        bottom: 95%;
        left: -20%;
    }
}

#layanan {
    margin-top: -450px;
    padding-bottom: 50px;
}

#layanan h5 {
    color: #2C2449;
    text-align: left;
}

#layanan p {
    color: #2C2449;
    text-align: left;
}

#layanan img {
    width: 100%;
    max-width: 145px;
    height: auto;
    float: left;
    display: block;
    margin: 0 auto;
    padding-right: 10px;
}

@media screen and (max-width:1200px) {
    #layanan img {
        width: 100%;
        max-width: 145px;
        height: auto;
        float: left;
        display: block;
        margin: 0 auto;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    #layanan p {
        font-size: 14px;
    }
}

#porto {
    /* background: url("../images/bg-porto1.png"); */
    height: auto;
    /* background-position: top;
    background-size: cover;
    background-repeat: no-repeat; */
    padding: 100px 0;
    /* margin-top: -220px; */
    background-color: #42419A;
}

#porto .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    border-bottom: 5px solid #EF6E6E;
    background: none!important;
    border-radius: 0;
}

#porto .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: none
}

#porto img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

#porto h3 {
    color: #fff;
    text-align: center;
}

#porto h4 {
    color: #fff;
    max-width: 450px;
    width: 100%;
    margin: 10px auto;
}

#porto h5 {
    color: #EF6E6E;
    text-align: center;
}

#porto span {
    color: #fff;
    text-align: center;
    display: block;
    max-width: 550px;
    margin: 0 auto;
}

#porto p {
    color: #fff;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: left;
}

#porto .splide {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#porto .splide__pagination__page {
    background: #fff;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#porto .splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.4)
}

#client {
    padding: 100px 0;
}

#client img {
    width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#client .splide__pagination__page {
    background: #2C2449;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px
}

#client .splide__arrow--prev {
    display: none;
}

#client .splide__arrow--next {
    display: none;
}

#client .splide__pagination {
    bottom: -1em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}

#client h5 {
    color: #EF6E6E;
    text-align: center;
}

#client h3 {
    color: #2C2449;
    text-align: center;
}

#client span {
    color: #2C2449;
    text-align: center;
    display: block;
    max-width: 550px;
    margin: 20px auto;
}

#footer {
    padding: 50px 0;
    background: #EEEDFF;
    position: relative;
    left: 0;
}

#footer h6 {
    color: #000;
    font-weight: 700;
    text-align: left;
}

#footer a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

#footer a:hover {
    color: #545454;
    text-decoration: none;
}

#footer .menu {
    line-height: 1.8;
    text-align: left;
    /* margin-left: 85px; */
}

@media screen and (max-width:1200px) {
    #footer {
        left: 0;
    }
    #footer .menu {
        padding-left: 15px;
        margin-left: 0;
    }
    #footer h6 {
        padding-left: 15px;
        text-align: left;
    }
}

#copyright {
    background-color: #42419A;
    padding: 20px 0;
}

#copyright h6 {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

body,
html {
    width: 100%;
    height: 100%;
}


/* body {
    margin: 0;
    padding: 0;
    background: #29b6f6;
} */

#home .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

#home .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: #8C8BE7;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;
}

#home .bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

#home .bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

#home .bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

#home .bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

#home .bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

#home .bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

#home .bubble:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 2s;
}

#home .bubble:nth-child(8) {
    width: 25px;
    height: 25px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 2s;
}

#home .bubble:nth-child(9) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

#home .bubble:nth-child(10) {
    width: 90px;
    height: 90px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 4s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}